@tailwind base;
@tailwind components;
@tailwind utilities;

/* Lavishly Yours Font - Uncomment when font files are added to public/fonts/ */
/* @font-face {
  font-family: 'Lavishly Yours';
  src: url('/fonts/LavishlyYours-Regular.woff2') format('woff2'),
       url('/fonts/LavishlyYours-Regular.woff') format('woff'),
       url('/fonts/LavishlyYours-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
} */

/* Knewave Font - Uncomment when font files are added to public/fonts/ */
/* @font-face {
  font-family: 'Knewave';
  src: url('/fonts/Knewave-Regular.woff2') format('woff2'),
       url('/fonts/Knewave-Regular.woff') format('woff'),
       url('/fonts/Knewave-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
} */

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: 'Inter', 'Poppins', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

